* {
    box-shadow: border-box;
    border: 1px solid red;
    line-height: 30px;
    font-size: 17px;
}

.statbar {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.hide {
    display:none;
}

