* {
    box-shadow: border-box;
    border: 1px solid red;
    line-height: 30px;
    font-size: 17px;
}

.statbar {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.hide {
    display:none;
}


.container, section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 85%;
    height: 45vh;
    margin: 0 auto;
    padding: 60px 60px;
    border: 1px solid red;
}

.buttons {
    margin-top: 10px;
    background-color: #3e1478;
    color: #ffffff;
    font-size: 85%;
}